.singleTopPlace {
    position: relative;
    overflow: hidden;
}

span.topPlaceName {
    position: absolute;
    right: 5%;
    top: 10%;
    background-color: #58fa6c;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}
img.topPlaceImg {
    width: 100%;
    border-radius: 10px;
    max-height: 250px;
    object-fit: cover;
}